/* Aptitudes generales */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
  border:none;
  color:#2e3335;
  transition:300ms;
}

a{
  text-decoration:none;
  color:#1d9bf0;
}

.pointer{
  cursor:pointer;
}

code{
  background-color:#060606;
  font-family: monospace;
  display:block;
  padding:10px;
  border-radius:5px;
  margin-top:10px;
}

/*colores*/
.c-white{
  color:white;
}
.c-orange{
  color:#ff9800;
}
.c-blue{
  color:#5e6bb3;
}
.c-pink{
  color:#f34a84;
}
.c-red{
  color:salmon;
}
.c-cian{
  color:#00a6cc;
}
.c-black{
  color:black;
}