/* Aptitudes generales */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
  border:none;
  color:#2e3335;
  transition:300ms;
}

a{
  text-decoration:none;
  color:#1d9bf0;
}

.pointer{
  cursor:pointer;
}

code{
  background-color:#060606;
  font-family: monospace;
  display:block;
  padding:10px;
  border-radius:5px;
  margin-top:10px;
}

/*colores*/
.c-white{
  color:white;
}
.c-orange{
  color:#ff9800;
}
.c-blue{
  color:#5e6bb3;
}
.c-pink{
  color:#f34a84;
}
.c-red{
  color:salmon;
}
.c-cian{
  color:#00a6cc;
}
.c-black{
  color:black;
}
.c-green{
    color:#009688;
}
  
  

.bg-white{
background-color:white;
}
.bg-orange{
background-color:#ff9800;
}
.bg-blue{
background-color:#5e6bb3;
}
.bg-pink{
background-color:#f34a84;
}
.bg-red{
background-color:salmon;
}
.bg-cian{
background-color:#00a6cc;
}
.bg-black{
background-color:#060606;
}
.bg-green{
background-color:#009688;
}


.d-block{
  display:block;
}

.mt-1{
  margin-top:5px;
}
.mt-2{
  margin-top:7px;
}
.mt-3{
  margin-top:10px;
}
.mt-4{
  margin-top:15px;
}
.mt-5{
  margin-top:20px;
}
.mt-6{
  margin-top:25px;
}
.mt-7{
  margin-top:30px;
}

.br-1{
   border-radius:3px; 
}
.br-2{
   border-radius:6px; 
}
.br-3{
   border-radius:9px; 
}
.br-4{
   border-radius:12px; 
}
.br-5{
   border-radius:15px; 
}